{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Veterinary nursing revision tool</h1>

      <hr />

      <p>
        <a class="btn btn-lg btn-default" href="/anatomy/">
          Start Anatomy and Physiology
        </a>
      </p>

      <p>
        <a class="btn btn-lg btn-default" href="/health/">
          Start Health and Husbandry
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
