<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Test Electron App</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  {% block body %}
  {% endblock %}
</section>

<script src="/javascripts/jquery-2.2.3.min.js"></script>
{% block pageScripts %}
{% endblock %}
</body>
</html>
