{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>
        <small>Q {{question.number}}</small><br />
        {{question.question}}
      </h1>

      <hr />

      <form action="{{question.number}}" method="post">
        <div class="radio">
          <label>
            <input type="radio" name="answer" id="optionsRadios1" value="{{question.answers[0].answer}}">
            {{question.answers[0].answer}}
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="answer" id="optionsRadios2" value="{{question.answers[1].answer}}">
            {{question.answers[1].answer}}
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="answer" id="optionsRadios2" value="{{question.answers[2].answer}}">
            {{question.answers[2].answer}}
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="answer" id="optionsRadios2" value="{{question.answers[3].answer}}">
            {{question.answers[3].answer}}
          </label>
        </div>

        <input type="hidden" name="correct" value="{{question.correct}}">
        <input type="hidden" name="arrayPos" value="{{question.arrayPos}}">

        <hr />

        <input type="submit" class="btn btn-primary btn-lg" value="Next question">

        <hr />

        <a href="/results" class="btn btn-default btn-lg">Finish</a>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <script>
    $(document).on('change', 'input[type="radio"]', function () {
      $('input[type="radio"]').each(function () {
        $(this).parent().css({'background': '#fff', 'border': '1px solid #ccc'});
      });
      $(this).parent().css({'background': '#d9edf7', 'border': '1px solid #bce8f1'});
    });

    $(document).on('submit', 'form', function (e) {
      var checked = [];
      $('input[type="radio"]').each(function () {
        if ($(this).is(':checked')) {
          checked.push($(this));
          return;
        }
      });

      if (checked.length === 0) {
        e.preventDefault();
      }
    });
  </script>
{% endblock %}
