{% extends "layout.html" %}

{% block body %}
  <h1>Question {{question.number}}</h1>
  <p>{{question.question}}</p>

  <form action="{{question.number}}" method="post">
    <p><input type="submit" name="answer" value="{{question.a}}"></p>
    <p><input type="submit" name="answer" value="{{question.b}}"></p>
    <p><input type="submit" name="answer" value="{{question.c}}"></p>
    <p><input type="submit" name="answer" value="{{question.d}}"></p>
    <input type="hidden" name="number" value="{{question.number}}">
    <input type="hidden" name="id" value="{{question.id}}">
    <input type="hidden" name="question" value="{{question.question}}">
    <input type="hidden" name="correct" value="{{question.correct}}">
  </ul>
{% endblock %}

{% block pageScripts %}
{% endblock %}
