.red-text {
  color: #c00;
  font-weight: bold;
}

.green-text {
  color: green;
  font-weight: bold;
}

.grey-text {
  color: #999;
}

.results-summary {
  font-size: 200%;
  text-align: center;
}

.results-summary span {
  font-weight: bold;
  font-size: 200%;
}

#incorrect-wrapper {
  padding-left: 20px;
  border-left: 3px solid #c00;
}

#correct-wrapper {
  padding-left: 20px;
  border-left: 3px solid green;
}

@media (max-width: 767px) {
  .btn {
    width: 93%;
  }
}

.radio label {
  padding: 20px;
  padding-left: 40px;
  font-size: 1.3em;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

.radio input {
  display: none;
}